*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:sans-serif ;
    background-image: url('bg.jpeg');
    background-size: cover;
    /* background-position: cover; */
    /* background-position: top center; */

}
.app-wrap{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background-image:linear-gradient(to bottom,rgba(0,0,0,0.1),rgba(0,0,0,0.7)) ; */
}
header{
    display: flex;
    justify-content:center ;
    align-items: center;
    padding: 50px 15px;
}
header input{
    width: 100%;
    max-width: 300px;
    padding:10px 15px ;
    text-align: center;
    border:solid red;
    outline: none;
    background-color: rgba(250,250,250,0.3);
    /* background-color: rgb(227, 235, 238); */
    
    border-radius:0px 20px ;
    font-size: 20px;
    /* font-weight: 300; */
    transition: 0.2s;
    color: brown;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
header input:focus{
    /* background-color: lightblue; */
    background-color: rgba(250,250,250,0.5);
    color: brown;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
main{
    flex:1 1 100%;
    padding: 25px 30px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.city{
    color: white;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 2px 2px rgb(80, 6, 95)
}
.date{
    color: whitesmoke;
    font-size: 30px;
    font-weight: 900;
    text-shadow: 2px 2px rgb(80, 6, 95)
}
.temp{
    color: white;
    font-size: 100px;
    font-weight: 850;
    margin: 34px 0px;
    text-shadow: 8px 2px rgb(23, 26, 177);
}
.weather{
    color: whitesmoke;
    font-size: 30px;
    text-shadow: 2px 2px rgb(80, 6, 95);
    margin-bottom: 10px;
}
.hi-low{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 850;
    text-shadow: 2px 2px rgb(80, 6, 95);
}
